* {
  padding: 0px;
  margin: 0px;
  border: 0px;

  box-sizing: border-box;
  font-family: "Roboto", arial;
}

body,
html {
  background-color: #1f2937;
}

button {
  font-size: 90px;
  padding: 30px 40px;
  border-radius: 10px;
  background-color: #8297b3;
  border-width: 0px;
}

#container {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: center;
  background-color: #131e2b;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 40px;
}

.res {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;

  margin-bottom: 100px;
}

#winnerOrLoser {
  color: aliceblue;
  font-weight: bold;
  font-size: 32px;
}

#result {
  color: aliceblue;
  font-size: 18px;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 50px;
}

.score {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  gap: 200px;
  color: aliceblue;
  font-weight: bold;
  font-size: larger;
}
.emojiChoiceDisplay {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  gap: 270px;
  font-size: 80px;
}

.playerSide {
  display: flex;
  gap: 10px;
}
.cpuSide {
  display: flex;
  gap: 10px;
}
